:root {
    --sand: lightgoldenrodyellow;
    --water: lightblue;
    --sun: lightsalmon;
}

/* #max {
    padding: 2px;
    max-height: 100vw;
    margin: 0 auto;
    min-width: 240px;
    padding-bottom: 20px;

} */

body {
    background-color: var(--sand);
    font-weight: bold;
}

/* styling for the header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    background-color: var(--water);
    align-items: end;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 6;
}

h1 {
    border-bottom: 8px solid var(--sun);
    font-size: 48px;
    padding: 10px 0px 10px 10px;
    margin-bottom: 2px;
    margin-left: 5px
}

ul {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
}

ul li {
    font-size: 24px;
    list-style-type: none;
    margin-right: 10px;
    border-bottom: 2px solid var(--sun);
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--water);
}


figure {
    display: flex;
    flex-direction: column;
}

a {
    color: black;
}

.plain {
    text-decoration: none;
    color: black;
}

.beach {
    background-image: url(./portfolio-image.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    z-index: 1;

}

.portrait {
    display: inline;
    margin: 0px;
    border-radius: 100%;
    position: relative;
    top: 20px;
    left: 75%;
    box-shadow: 0 0 10px var(--water);

}

.slogan {
    background: linear-gradient(.25turn, white 10%, transparent 60%);
    margin: 0px;
    opacity: .8;
    display: inline;
    position: relative;
    top: 20px;
    font-size: 24px;
    font-weight: 900;
    padding: 5px 5px 5px 10px;

}

/* styling for the boxes in the grid */

.contentCard {
    display: flex;
    border: 4px solid var(--water);
    position: relative;
    transition: ease all .5s;
}

.card {
    border-bottom: 4px solid var(--sun);
}

/* salmon squares for work title */
.cardTitle {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100px;
    width: 110px;
    z-index: 1;
    background-color: var(--sun);
    bottom: 0;
    font-size: 24px;
    line-height: 1.2;
    padding: 0 10px 0 10px;
    border-top-right-radius: 20px;
    /* box-shadow: 10px -10px 5px lightseagreen; */

}

/* modifying styling and spacing of the about me page */
.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 1.2;
    padding: 10px;
    font-size: 20px;
}

.aboutMe h3 {
    font-size: 24px;
    margin: 10px;
}

/* cheatSheet card styling */
.cheatSheet {
    background-image: url(./vecteezy_traditional-japanese-wave-pattern-vector-abstract-hand_18861519.jpg);
    background-size: cover;
    background-position: center;

}

/* data card styling */
.data {
    background-image: url(./beach-01.jpg);
    background-size: cover;
    background-position: center;

}

/* pre-work card styling */
.preWork {
    background-image: url(./vecteezy_campaign-sketch-doodle-set-backdrop-drawing-pattern-texture_.jpg);
}

/* ensures anchor is full size of container and on top */
#label {
    height: 100%;
    width: 100%;
    z-index: 2;
}



/* formatting headers of the sections */
.aboutMeTitle,
.work,
.contactMe {
    text-align: right;
    border: none;
    border-right: 4px dashed var(--sun);
    padding-right: 5px;
    font-size: 32px;
    line-height: 1.2;
}

.aboutMeTitle>p,
.work>p,
.contactMe>p {
    display: inline;

    border-radius: 5px;
    border-bottom: 10px solid;
    border-image: linear-gradient(lightseagreen, transparent) 39;
}

/* formatting the contact section */
.gitHub,
.phone,
.email {
    font-size: 24px;
}

/* animations - added some hover effects where an opaque film greys out work tiles till hovered over and name card expands*/
.contentCard:hover {
    box-shadow: 0 0 10px lightseagreen;

    .cardTitle {
        transition-duration: 1s;
        height: 220px;
        box-shadow: 10px -10px 20px lightseagreen;
    }
}

/* causing hover effects for nav bar */
.plain:hover {
    font-size: 32px;
    border: 8px solid var(--sun);
    transition-duration: 1.5s;
    border-radius: 10px;
    box-shadow: 0px 0px 20px lightseagreen;
}

section>a:hover {


    background-image: linear-gradient(to right, rgba(211, 211, 211, 0), rgba(211, 211, 211, .8));
    transition-duration: 5000ms;
    z-index: 5;

}

/* formate for the grid */

.header {
    grid-area: header;
}

.aboutMeTitle {
    grid-area: aboutMeTitle;
}

.aboutMe {
    grid-area: aboutMe;
}

.work {
    grid-area: work;
}

.cheatSheet {
    grid-area: cheatSheet;
}

.data {
    grid-area: data;
}

.preWork {
    grid-area: preWork;
}


.gitHub {
    grid-area: gitHub;
}

.phone {
    grid-area: phone;
}

.email {
    grid-area: email;
}

.contactMe {
    grid-area: contactMe;
}

.fullPage {
    /* height: 75vh; */
    /* min-width: 240px; */
    margin-top: 20px;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr;
    grid-template-rows: minmax(100px, 1fr) 1fr minmax(240px, 2fr) minmax(240px, 1.5fr) .25fr;
    grid-template-areas:
        "header header header header"
        "aboutMeTitle aboutMe aboutMe aboutMe"
        "work cheatSheet cheatSheet cheatSheet"
        "work preWork data data"
        "contactMe phone email gitHub";
    gap: 20px 20px;

}

/* @media screen and (max width) {
/*     
} */
@media screen and (max-width: 998px) {

    h1 {
        font-size: 32px;
        display: block;
        margin: 0;
        

    }

    header {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    ul {
        margin: 5px 0px 2px;

    }

    ul li {
        margin: 10px 5px;
    }

}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 32px;
        display: block;
        margin: 0;

    }

    header {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    ul {
        margin: 5px 0px 2px;

    }

    ul li {
        margin: 10px 5px;
    }

   
    

    .fullPage {
        display: grid;
        grid-template-rows: 350px 90px 1fr 90px 220px 120px 120px 90px .25fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "aboutMeTitle aboutMeTitle aboutMeTitle"
            "aboutMe aboutMe aboutMe"
            "work work work"
            "cheatSheet cheatSheet cheatSheet"
            "data data data"
            "preWork preWork preWork"
            "contactMe contactMe contactMe"
            "phone email gitHub"
        ;
    }

    .aboutMeTitle,
    .work,
    .contactMe {
        text-align: left;
        border: none;
        border-bottom: 4px dashed var(--sun);
        padding-right: 5px;
    }

    .portrait {
        display: inline-block;
        margin: 0px;
        border-radius: 100%;

        position: relative;
        top: 20px;
        left: 10%;

    }

    .cardTitle {
        height: 70px;
    }

    .contentCard:hover {
        .cardTitle {
            transition-duration: 1s;
            height: 100px;
        }
    }

    .slogan {
        background: linear-gradient(.25turn, white 20%, transparent 70%);
        display: block;
    }


 /* disabling the seagreen boarder to prevent overlaps  */
    .aboutMeTitle>p,
    .work>p,
    .contactMe>p {
        border: none;
    }


}  